<a href="{% url 'object_avr_add' %}" class="btn btn-primary">Добавить</a>


<table class="table table-sm table-hover">
  <thead class="table-light">
  <tr>
      <th>№</th>
      {% comment %} <th>Объект</th> {% endcomment %}
      <th>Заказчик</th>
      <th>Адрес</th>
      {% comment %} <th>Дата</th> {% endcomment %}
      <th>Проблема</th>
      <th>Введено</th>
      {% comment %} <th>User</th> {% endcomment %}
      <th>Действия</th>
  </tr>
</thead>

  {% for avr in avrs %}
  <tr>
      <td>{{ avr.id }}</td>
      {% comment %} <td>{{ avr.object_id }}</td> {% endcomment %}
      <td>{% if avr.object %}{{ avr.object.customer }}{% else %}-{% endif %}</td>
      <td>{% if avr.object %}{{ avr.object.address }}{% else %}-{% endif %}</td>
      <td>{{ avr.problem }}</td>
      <td>{{ avr.insert_date|date:"d.m.Y" }}<br>{{ avr.user.username }}</td>

      <td style='display: flex;'>
        <a href="{% url 'avr_edit' pk=avr.id %}">
          <button type="button" class="btn btn-secondary">✏</button>
        </a>
        <form method="post" action="{% url 'avr_delete' pk=avr.id %}" style="display:inline;">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger" onclick="return confirm('Удалить АВР?');"><strong>X</strong></button>
      </form>
    </td>
  </tr>
  {% endfor %}
</table>