LIFTEH_project/my.py
LIFTEH_project/LIFTEH_v1
LIFTEH_project/LIFTEH_v2
LIFTEH_project/get-pip.py
LIFTEH_project/static/ico
LIFTEH_project/LIFTEH_project/settings.py
LIFTEH_project/services_foto
LIFTEH_project/db.sqlite3