# Django
*.log
*.pot
*.pyc

# Virtual environment
myenv/
.venv/

# Static files
static/ico/

# Local settings
LIFTEH_project/settings_local.py
LIFTEH_project/LIFTEH_project/settings_local.py

# Foto services
services_foto/

# DataBase files
db.sqlite3
LIFTEH_project/db.sqlite3

# Other files
LIFTEH_project/my.py
LIFTEH_project/LIFTEH_v1
LIFTEH_project/LIFTEH_v2
LIFTEH_project/get-pip.py
