RewriteEngine On
RewriteBase /

# Правило для перезаписи URL
# RewriteRule ^index\.php/(.*)$ index.php?page=$1 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?page=$1 [QSA,L]

