<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIFTEH</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        .tab {
            display: none;
        }

        .tab-button {
            cursor: pointer;
            padding: 10px;
            margin: 5px;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
        }

    </style>
</head>
<body>
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="mb-0">Список объектов 2025</h1>
        {% if user.is_authenticated %}
            <div class="user-info bg-light p-2 rounded">
                <span class="fw-bold">Пользователь {{ user.username }}</span>
            </div>
        {% endif %}
    </div>


    <div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link tab-button active" onclick="showTab('service')">⚙ Обслуживание</a>
            </li>
            <li class="nav-item">
                <a class="nav-link tab-button" onclick="showTab('acts')">📑 Акты</a>
            </li> 
            <li class="nav-item">
                <a class="nav-link tab-button" onclick="showTab('charts')">Графики</a>
            </li>
        <ul>
    </div>

    <div id="service" class="tab">
      <h2>Обслуживание</h2>
      {% include 'sort_object.html' %}
      {% include 'object_table.html' %}
  </div>
  

    <div id="acts" class="tab">
        <h2>Акты</h2>
        {% include 'avr_table.html' %}
    </div>

    <div id="charts" class="tab">
        <h2>Графики</h2>
        
    </div>

    <script>
        function showTab(tabName) {
            // Скрыть все вкладки
            const tabs = document.querySelectorAll('.tab');
            tabs.forEach(tab => { tab.style.display = 'none'; });
            // Удалить класс active у всех кнопок
            const buttons = document.querySelectorAll('.tab-button');
            buttons.forEach(button => {
                button.classList.remove('active');
            });
            // Показать выбранную вкладку
            document.getElementById(tabName).style.display = 'block';
            document.querySelector(`.tab-button[onclick="showTab('${tabName}')"]`).classList.add('active');
        }
        // Показать первую вкладку по умолчанию
        const hash = window.location.hash.substring(1);
        if (hash) {showTab(hash);
        } else {showTab('service');}
    </script>
</body>
</html>
