body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
}

/* SCROLLABLE CONTENT */
.content-wrapper {
  flex: 1;
  overflow-y: auto;
}

/* ОТСТУПЫ ЗАКОНЧИЛИСЬ */


/* FIXED FOOTER */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #de4c15;
  flex-shrink: 0;
}

#map {
  width: 100%;
  height: 100%;
}

.nav {
  flex-wrap: nowrap;
}

.table-hover tr:hover {
  filter: brightness(0.8) !important;
}

.table-sm>:not(caption)>*>* {
  padding: 0 0;
}

.nav-link.active {
  font-weight: bold;
}

.tab {
  display: none;
}

.tab-button {
  cursor: pointer;
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

select[multiple] {
  height: auto;
  min-height: 38px;
}

select[multiple] option {
  padding: 5px 10px;
}

select[multiple] option:checked {
  background-color: var(--bs-primary);
  color: white;
}

.new {
  display: flex;
  align-items: center;
  background-color: #de4c15;
  color: white;
}

.new.img {
  height: 50px;
}

.map-header {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1000;
  background-color: rgba(222, 76, 21, 1.0);
  border-radius: 10px;
  display: flex;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

/* КНОПКИ СТЕКЛЯННЫЕ С ПОДСВЕТКОЙ */
.glass-button {
  position: absolute;
  font-size: 18px;
  font-weight: bold;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  background: linear-gradient(145deg, rgba(222, 76, 21, 0.9), rgba(222, 76, 21, 1));
  border: none;
  border-radius: 7px;
  cursor: pointer;
  overflow: hidden;
}

/* Внутренняя подсветка */
.glass-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
  background: linear-gradient(90deg,
      transparent,
      rgba(255, 255, 255, 0.4),
      transparent);
  transition: left 0.5s ease;
}

.glass-button:hover::before {
  left: 100%;
}

/* Эффект нажатия */
.glass-button:active {
  transform: translateY(2px);
  box-shadow:
    0 2px 5px rgba(0, 0, 0, 0.3),
    inset 0 1px 0 rgba(255, 255, 255, 0.2),
    inset 0 -2px 3px rgba(0, 0, 0, 0.3);
}

/* Дополнительный блеск */
.glass-button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  pointer-events: none;
  z-index: 1;
  background: linear-gradient(to bottom,
      rgba(255, 255, 255, 0.2),
      transparent);
  border-radius: 7px 7px 0 0;
}

.logo-text {
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.logo-link {
  height: 100%;
  width: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

/* КОНЕЦ КНОПОК СТЕКЛЯННЫХ */

.nav-link.active {
  font-weight: bold;
}

.map-header a[data-tooltip] {
  position: relative;
}

.map-header a[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: -28px;
  left: 50%;
  transform: translateX(-50%);
  background: #6c1b1bc2;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
  z-index: 1000;
}

.map-header a[data-tooltip]:hover::after {
  opacity: 1;
  visibility: visible;
  bottom: -30px;
}

/* Стили для уведомлений */
.alert-notification {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  min-width: 300px;
  animation: slideIn 0.3s ease;
}

/* СТИЛЬ для СВИТЧЕЙ НА КАРТЕ */
.filter-switch {
  display: flex;
  align-self: start;
}

.switch-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
}

.switch-input {
  display: none;
}

.switch-slider {
  position: relative;
  width: 60px;
  height: 24px;
  background-color: #ccc;
  border-radius: 24px;
  transition: .3s;
}

.switch-slider:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: 2px;
  top: 2px;
  background-color: white;
  transition: .3s;
}

/* Текст внутри switch */
.switch-slider:after {
  content: "нет";
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 10px;
  font-weight: bold;
  color: #666;
  transition: .3s;
}


.switch-input:checked+.switch-slider {
  background-color: #de4c15;
}

.switch-input:checked+.switch-slider:before {
  transform: translateX(36px);
}

.switch-input:checked+.switch-slider:after {
  content: "есть";
  left: 8px;
  right: auto;
  color: white;
}

.switch-text {
  font-size: 12px;
  font-weight: bold;
  color: #333;
  white-space: nowrap;
}

.filter-switches {
  position: absolute;
  top: 5px;
  left: 80px;
  z-index: 1000;
  display: flex;
  gap: 6px;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 7px;
  padding: 7px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.alert-dismissible .btn-close {
  padding: 0.75rem 1.25rem;
}

/* Стиль КНОПОК фильтра КАРТЫ */
.filter-toggle-btn {
  background-color: rgba(222, 76, 21, 0.9);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  min-width: 150px;
  text-align: center;
}

/* ПОДСВЕТКА ПРИ НАВЕДЕНИИ*/
.filter-toggle-btn:hover {
  transform: translateY(-2px);
}

.filter-toggle-btn.active-all,
.transport-btn.active-transport {
  background-color: #2c3e50;
}

.objects-btn.active-without-marks,
.transport-btn.active-no-transport {
  background-color: rgba(222, 76, 21, 0.9);
}

.active-all:hover,
.active-transport:hover {
  background-color: rgba(222, 76, 21, 1.0);
}

.objects-btn.without-all:hover,
.transport-btn.active-no-transport:hover,
.objects-btn.active-without-marks:hover {
  background-color: #2c3e50;
}

/* 
.objects-btn.active-without-marks:hover {
  background-color: rgb(71, 157, 80);
} */

/* ДЛЯ РАБОТЫ С КАРТОЙ */
.ymaps-2-1-79-balloon__content,
.ymaps-2-1-79-b-cluster-tabs__section_type_content,
.ymaps-2-1-79-b-cluster-tabs {
  padding: 0px !important;
}

.ymaps-2-1-79-balloon {
  box-shadow: none;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5), 0px 0px 10px 10px rgba(0, 0, 0, 0.3) !important;
}

.ymaps-2-1-79-b-cluster-tabs__menu-item {
  padding: 2px 3px 2px 3px;
}

.ymaps-2-1-79-b-cluster-tabs__item-body {
  padding-right: 0px !important;
}

.ymaps-2-1-79-balloon__layout {
  border-radius: 6px;
}

.ymaps-2-1-79-b-cluster-tabs__menu-item-text:hover {
  color: #de4c15;
}

.ymaps-2-1-79-b-cluster-tabs,
.ymaps-2-1-79-b-cluster-content {
  width: 450px !important;
  height: 250px !important;
}

.ymaps-2-1-79-balloon__content {
  margin-right: 0px !important;
}

.ymaps-2-1-79-b-cluster-tabs__item-header,
.ymaps-2-1-79-b-cluster-content__header,
.ymaps-2-1-79-copyright__content,
.ymaps-2-1-79-map-copyrights-promo,
.ymaps-2-1-79-balloon__close {
  display: none !important;
}

.ymaps-2-1-79-b-cluster-tabs__menu-item-text {
  color: #333333ff !important;
  transition: color 0.2s ease;
}

/* --- КНОПКИ в БАЛУНе --- */
.balloon-content {
  padding: 10px;
  min-width: 250px;
}

.balloon-content h4 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #de4c15;
  font-size: 16px;
}

.balloon-content p {
  margin: 5px 0;
  font-size: 14px;
}

.balloon-buttons {
  margin: 10px;
  display: flex;
  gap: 5px;
}

.balloon-buttons .btn {
  flex: 1;
  font-size: 12px;
  padding: 4px 8px;
}

/* Стили для модального окна на карте */
.modal-content {
  border-radius: 10px;
}

.modal-header {
  border-bottom: 2px solid #c43c0c;
  padding: 8px;
}

.modal-body {
  padding: 8px;
}

/* КОНЕЦ КНОПОК В БАЛУНЕ */


#sortMenuContainer {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

#sortMenuContainer.show {
  max-height: 200px;
  opacity: 1;
  display: block;
}


/* КНОПКИ В ФУТЕРЕ */
.btn-developer {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  padding: 0.1rem 0.5rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  backdrop-filter: blur(10px);
}

.btn-developer:hover {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.footer-brand {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.brand-logo {
  background: #de4c15;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  justify-content: center;
  font-weight: bold;
  font-size: 1.5rem;
}

/* КОНЕЦ КНОПОК ФУТЕРА */


@media (max-width: 660px) {
  .delete {
    display: none;
  }
}


@media print {
  body * {
    visibility: hidden;
  }

  .card,
  .card * {
    visibility: visible;
  }

  .card {
    position: absolute;
    left: 0;
    top: 0;
    width: 100% !important;
    border: none !important;
    box-shadow: none !important;
  }

  /* Скрываем ненужные элементы */
  .btn,
  button,
  .form-check,
  #sortMenuContainer,
  .name-page,
  .btn-group,
  .card-header>.col:last-child,
  img {
    display: none !important;
  }

  /* Настраиваем таблицу */
  .table-hover {
    width: 100% !important;
    border: 1px solid #000 !important;
  }

  .table-hover th,
  a {
    color: #000 !important;
  }
}