{% comment %} <h1>Добавить АВР</h1> {% endcomment %}
    <form method="post" action="{% url 'avr_add' pk=object.id %}">
        {% csrf_token %}

    <!-- Скрытые поля -->
    <input type="hidden" name="object" value="{{ object.id }}">
    <input type="hidden" name="insert_date" value="{{ current_datetime|date:'Y-m-d H:i:s' }}">
    <input type="hidden" name="work_id" value="0"> 
    <!-- Скрытые поля -->

    {% comment %} <div class="input-group" hidden>
        <label for="object">Object:</label>
        <input type="text" name="object" id='object' value="{{ object.id }}" readonly>
    </div>
    <div class="input-group" hidden>
        <label for="insert_date">Insert date:</label>
        <input type="text" name="insert_date" value="{{ current_datetime|date:'Y-m-d H:i:s' }}" required id="insert_date">
    </div> {% endcomment %}
  
    <div class="form-floating mb-2">
        <textarea class="form-control" name="problem" maxlength="500" required="" id="id_problem" style="height: 100px;">
        </textarea>
        <label class="form-label" for="id_problem">Проблемы:</label>
    </div>

    {% comment %} И ЭТО {% endcomment %}
    {% comment %} <input type="hidden" name="work_id" value="{{ avr.work_id|default:'0' }}"> {% endcomment %}
    {% comment %} И это {% endcomment %}

    {% comment %} <div class="input-group" hidden>
        <label for="id_work_id">Work id:</label>
        <input type="text" name="work_id" value="" maxlength="20" id="id_work_id">
    </div> {% endcomment %}
    {% comment %} <h5>Работы:</h5> {% endcomment %}
    <div id="work-rows">
        <div class="work-row" style="display: flex; gap: 10px; margin-bottom: 10px; align-items: center; width: 100%;">
            <div class="form-floating" style="flex: 1; min-width: 200px;">
                <input class="form-control" type="text" id="workname-field-1" name="workname" maxlength="100" required>
                <label class="form-label" for="workname-field-1">Наименование работ:</label>
            </div>

            <div class="form-floating" style="width: 100px;">
                <select class="form-select" id="unit-field-1" name="unit" required>
                    <option value="шт.">шт.</option>
                    <option value="комп.">комп.</option>
                    <option value="л.">л.</option>
                    <option value="кг.">кг.</option>
                    <option value="м.">м.</option>
                </select>
                <label class="form-label" for="unit-field-1">Ед. изм.:</label>
            </div>

            <div class="form-floating" style="width: 100px;">
                <input class="form-control" type="number" id="quantity-field-1" name="quantity" min="1" value="1" required>
                <label class="form-label" for="quantity-field-1">Кол-во:</label>
            </div>

            <div>
                <button type="button" class="btn btn-warning" onclick="addWorkRow()">+</button>
            </div>

        </div>
    </div>

    {% comment %} <hr> {% endcomment %}
        <button type="submit" class="btn btn-success">Сохранить</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Отмена</button>

</form>