<h1>Редактирование АВР</h1>
<hr>
<form method="post">
{% csrf_token %}
      <div class="input-group" hidden>
        <p>
          <label for="id_object">Object:</label>
          <input type="text" name="object" value="{{ avr.object.id }}" readonly>
        </p>
      </div>

      <div class="input-group" hidden>
        <p>
          <label for="id_insert_date">Insert date:</label>
          <input type="text" name="insert_date" value="{{ current_datetime|date:'Y-m-d H:i:s' }}" required id="id_insert_date">
        </p>
      </div>

      <div class="input-group">
         <label class="input-group-text" for="id_problem">Problem:</label>
         <textarea class="form-control" name="problem" maxlength="500" required="" id="id_problem" rows="4">{{ avr.problem }}</textarea>
      </div>

      <div class="input-group">
        <label class="input-group-text" for="id_work_id">Work id:</label>
        <input class="form-control" type="text" name="work_id" value="{{ avr.work_id|default:'' }}" maxlength="20" id="id_work_id">
    </div>

<hr>
      <button type="submit" class="btn btn-success">Сохранить</button>
      <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Отмена</button>
</form>