<div class="card mb-4">
  <div class="card-header d-flex">
    <div>
      <h4>Дефектные акты</h4>
    </div>
    <div class="col d-flex justify-content-end align-items-center">
      <button type="button" class="btn btn-primary" 
        onclick="loadModalForm('{% url 'object_avr_add' %}', 'Добавить акт')">
          Добавить акт
      </button>
    </div>
  </div>

  <div class="card-body" style="padding: 0px; min-height: 50px;">
    <table class="table-hover" style="width: 100%;">
    <thead class="table-light">
      <tr style="background-color: #de4c15;">
        {% comment %} <th style="text-align: center;">№</th> {% endcomment %}
        <th style="text-align: center;">Заказчик</th>
        <th style="text-align: center;">Адрес</th>
        <th style="text-align: center;">Проблема</th>
        <th style="text-align: center;">Введено</th>
        <th style="text-align: center;">Действия</th>
      </tr>
    </thead>

    {% for avr in avrs %}

    <tr>
      {% comment %} <td style="text-align: center;">{{ avr.id }}</td> {% endcomment %}
      <td style="text-align: center;">{% if avr.object %}{{ avr.object.customer }}{% else %}-{% endif %}</td>
      <td style="text-align: center;">{% if avr.object %}{{ avr.object.address }}{% else %}-{% endif %}</td>
      <td style="text-align: center;">{{ avr.problem }}</td>
      <td style="text-align: center;">{{ avr.insert_date|date:"d.m.Y" }}<br>{{ avr.user.username }}</td>
      <td>
        <div class="btn-group" style="gap: 2px;">
          <button onclick="loadModalForm('{% url 'avr_edit' pk=avr.id %}', 'Редактирование АВР')" 
            class="btn btn-secondary">✏</button>

          <button onclick="confirmDelete('{% url 'avr_delete' pk=avr.id %}', '{{ avr.id }}')" 
            class="btn btn-danger">
            <strong>X</strong>
          </button>

        </div>
      </td>
    </tr>

    {% endfor %}

    </table>
  </div>
</div>
