<div class="card">
  <div class="card-header d-flex">
    <div>
      <h4>Дефектные акты</h4>
    </div>
    <div class="col d-flex justify-content-end align-items-center">
      <button type="button" class="btn btn-primary" 
        onclick="loadModalForm('{% url 'object_avr_add' %}', 'Добавить акт')">
          Добавить
      </button>
    </div>
  </div>

  <div class="card-body" style="padding: 0px; min-height: 50px;">
    <table class="table-hover" style="width: 100%;">
    <thead class="table-light">
      <tr style="background-color: #de4c15; color: white;">
        {% comment %} <th style="text-align: center;">№</th> {% endcomment %}
        <th class="delete" style="text-align: center;">Дата</th>
        <th style="text-align: center;">Заказчик</th>
        <th style="text-align: center;">Адрес</th>
        <th class="delete" style="text-align: center;">Проблема</th>
        <th style="text-align: center;"></th>
        <th style="text-align: center;"></th>
      </tr>
    </thead>

    {% for avr in avrs %}

    <tr style="background-color: 
      {% if avr.result == 0 %} #ff000063    {# Зеленый #}
      {% elif avr.result == 1 %} #ffff0063  {# Желтый #}
      {% elif avr.result == 2 %} #00800063  {# Красный #}
      {% else %} #80808063                  {# Серый (если result не задан) #}
      {% endif %};">

      {% comment %} <td style="text-align: center;">{{ avr.id }}</td> {% endcomment %}
      <td class="delete" style="text-align: center;">{{ avr.insert_date|date:"d.m.Y" }}<br>{{ avr.user.username }}</td>
      <td style="text-align: center;">{% if avr.object %}{{ avr.object.customer }}{% else %}-{% endif %}</td>
      <td style="text-align: center;">{% if avr.object %}{{ avr.object.address }}{% else %}-{% endif %}</td>
      <td class="delete" style="text-align: center;">{{ avr.problem }}</td>
      <td style="text-align: end;">
        <div class="btn-group" style="gap: 2px;">
          {% comment %} <button onclick="loadModalForm('{% url 'avr_edit' pk=avr.id %}', 'Редактирование АВР')" 
            class="btn btn-secondary">✏</button> {% endcomment %}

          <button onclick="loadAvrEditForm({{ avr.id }})" class="btn btn-secondary">&#9998;</button>
          <button onclick="confirmDelete('{% url 'avr_delete' pk=avr.id %}', '{{ avr.id }}')" 
            class="btn btn-danger">
            <strong>X</strong>
          </button>

        </div>
      </td>
    </tr>

    {% endfor %}


      <!-- Строка с суммой -->
      <tr style="background-color: #f0f0f0; font-weight: bold;">
          <td colspan="2" style="text-align: right;">Итого:</td>
          <td style="text-align: left; padding-left: 10px;">
            {{ avrs|length }}
          </td>
          <td class="delete"></td>
          <td class="delete"></td>
          <td></td>
      </tr>

    </table>
  </div>
</div>
