{% comment %} {% block content %} {% endcomment %}
    {% comment %} <h2>Редактирование диагностики</h2> {% endcomment %}
    <form method="post" enctype="multipart/form-data" action="{% url 'diagnostic_edit' pk=diagnostic.id %}">
        {% csrf_token %}
        {% comment %} {{ form.as_p }} {% endcomment %}

        <div class="form-floating mb-2">
            <input class="form-control" type="text" name="customer" value="{{ form.customer.value }}" maxlength="255" required="" id="id_customer">
            <label class="form-label" for="id_customer">Заказчик</label>
            {% comment %} {{ form.customer }} {% endcomment %}
        </div>

        <div class="form-floating mb-2">
            <input class="form-control" type="text" name="address" value="{{ form.address.value }}" autocomplete="address" maxlength="255" required="" id="id_address">
            <label class="form-label" for="id_address">Адрес</label>
            {% comment %} {{ form.address }} {% endcomment %}
        </div>

        <div class="row g-2">
        <div class="col-md-6">
        <div class="form-floating mb-2">
            <input class="form-control" type="text" name="phone" value="{{ form.phone.value }}" autocomplete="phone" maxlength="20" required="" id="id_phone">
            <label class="form-label" for="id_phone">Телефон</label>
            {% comment %} {{ form.phone }} {% endcomment %}
        </div>
        </div>
        <div class="col-md-6">
        <div class="form-floating mb-2">
            <input class="form-control" type="text" name="name" value="{{ form.name.value }}" autocomplete="name" maxlength="255" required="" id="id_name">
            <label class="form-label" for="id_name">Имя</label>
            {% comment %} {{ form.name }} {% endcomment %}
        </div>
        </div>
        </div>

        <div class="row g-2">
        <div class="col-md-6">

        <div class="form-floating mb-2" hidden>
            <input type="text" class="form-control" id="insert_date"
            value="{{ diagnostic.insert_date|date:'Y-m-d H:i' }}" autocomplete="data" readonly>
            <label class="form-label" for="insert_date">Дата ввода</label>
        </div>


        <div class="form-floating mb-2">
            {% comment %} {{ form.fact_date }} {% endcomment %}
            <input type="datetime-local" id="fact_date-1" name="fact_date" class="form-control" 
            value="{{ diagnostic.fact_date|date:'Y-m-d\TH:i' }}">
            <label class="form-label" for="fact_date-1">Дата проведения</label>
        </div>

        </div>
        <div class="col-md-6">
            <div class="form-floating mb-2">
                {% comment %} {{ form.end_date }} {% endcomment %}
                <input type="datetime-local" id="end_date-1" name="end_date" class="form-control"
                value="{{ diagnostic.end_date|date:'Y-m-d\TH:i' }}">
                <label class="form-label" for="end_date-1">Дата окончания</label>
            </div>
        </div>
        </div>


        {% comment %} <div class="mb-3">
            <label class="form-label">Результат</label>
            {{ form.result }}
        </div> {% endcomment %}


        <button type="submit" class="btn btn-success">Сохранить</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Отмена</button>
    </form>

{% comment %} {% endblock %} {% endcomment %}