<div class="card">
  <div class="card-header d-flex">

    <div>
      <h4>Диагностики</h4>
    </div>
{% if user.is_superuser %}
    <div class="col d-flex justify-content-end align-items-center">
      <button type="button" class="btn btn-primary delete" 
        onclick="loadModalForm('{% url 'diagnostic_add' %}', 'Добавить диагностику')">
          Добавить
      </button>
    </div>
{% endif %}
  </div>

  <div class="card-body" style="padding: 0px; min-height: 50px;">
    <table class="table-hover" style="width: 100%;">
      <thead class="table-light">
        <tr style="background-color: #de4c15; color: white;">
          <th style="text-align: center;">Заказчик</th>
          <th style="text-align: center;">Адрес</th>
          {% comment %} <th style="text-align: center;">Cоздано</th> {% endcomment %}
          <th class="delete" style="text-align: center;">Срок</th>
          {% comment %} <th style="text-align: center;">Результат</th> {% endcomment %}
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for diagnostic in diagnostics %}
        <tr>
          {% comment %} <td style="text-align: center;">{{ diagnostic.id }}</td> {% endcomment %}
          <td style="text-align: center;">{{ diagnostic.object.customer|default:"-" }}</td>
          <td style="text-align: center;">{{ diagnostic.object.address|default:"-" }}</td>
          {% comment %} <td style="text-align: center;">{{ diagnostic.insert_date|date:"d.m.Y" }}</td> {% endcomment %}
          <td class="delete" style="text-align: center;">{{ diagnostic.end_date|date:"d.m.Y" }}</td>
          {% comment %} <td style="text-align: center;">{{ diagnostic.result|default:"-" }}</td> {% endcomment %}

          <td style="text-align: end;">
            <div class="btn-group btn-group" style="gap: 2px;">

              <button onclick="loadModalForm('{% url 'diagnostic_edit' pk=diagnostic.id %}', 'Редактирование диагностики')" 
                class="btn btn-secondary">✏
              </button>

              <button onclick="loadModalForm('{% url 'avr_add' pk=diagnostic.object.id %}', 'Добавление АВР')" 
              class="btn btn-success">АВР</button>

              <button onclick="confirmDelete('{% url 'diagnostic_delete' pk=diagnostic.id %}', '{{ diagnostic.id }}')" 
                  class="btn btn-danger delete">
                <strong>X</strong>
              </button>

            </div>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="7" style="text-align: center;">Нет данных о диагностике</td>
        </tr>
        {% endfor %}
      </tbody>

      <!-- Строка с суммой -->
      <tr style="background-color: #f0f0f0; font-weight: bold;">
          <td colspan="2" style="text-align: right;">Итого:</td>
          <td style="text-align: center;">
            {{ diagnostics|length }}
          </td>
          <td class="delete"></td>
      </tr>

    </table>
  </div>
</div>
