<footer>
  <div style="display: flex; padding: 5px 10px; justify-content: space-between; background-color: #de4c15; align-items: center; height: 40px;">

    <div class="footer-brand">
      <span class="brand-logo">LT</span>
      <span class="brand-text" style="color: white; font-weight: 600;">LIFTEH</span>
    </div>

    <div style="display: flex; text-align: center;" class="delete">
      <p class="mb-0 mt-0" style="color: white; font-size: small;">
        ©2025 Все права защищены
      </p>
    </div>

    <button onclick="loadDeveloperInfo()" class="bi bi-person-badge btn-developer">
      Developer
    </button>
  </div>
</footer>