<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="vh-100 d-flex align-items-center justify-content-center">
    <div class="text-center">
        <h1 style="color: rgb(255, 99, 71);">ДОБРО ПОЖАЛОВАТЬ в LIFTEH</h1>
        <h5><a href="{% url 'login' %}">Войти</a> / 
            Регистрация</h5>
    </div>
</body>
</html>