{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Карта объектов</title>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=b0a03b93-14f2-4e5a-b38a-25ee1d5296e0&lang=ru_RU"></script>
    <style>
        html, body {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
        #map {
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
    <div id="map"></div>

    <script>
        ymaps.ready(function() {
            var map = new ymaps.Map('map', {
                center: [53.9, 27.5],
                zoom: 7
            });
            
            // Удаляем все стандартные элементы управления
            map.controls.remove('zoomControl');        // Кнопки zoom +/-
            map.controls.remove('geolocationControl'); // Кнопка геолокации
            map.controls.remove('searchControl');      // Поиск
            map.controls.remove('typeSelector');       // Переключение типов карты
            map.controls.remove('fullscreenControl');  // Полноэкранный режим
            map.controls.remove('rulerControl');       // Линейка
            map.controls.remove('trafficControl');     // Пробки
            map.controls.remove('routeButtonControl'); // Построение маршрутов

            // Минимальная настройка - Яндекс сам выберет оптимальный layout
            var clusterer = new ymaps.Clusterer({
                preset: 'islands#invertedOrangeClusterIcons',
                clusterDisableClickZoom: true,
                clusterOpenBalloonOnClick: true,
                gridSize: 64
            });

            var objectsData = {{ objects_data|safe }};
            var placemarks = [];
            var uniqueAddresses = new Set();


            // SVG иконка в формате data URL
            var customIconSvg = 'data:image/svg+xml;charset=utf-8,' + 
                encodeURIComponent(
                    '<svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">' +
                    '<path fill="#de4c15" d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>' +
                    '</svg>'
                );

            
            objectsData.forEach(function(obj) {
                if (obj.latitude && obj.longitude && !uniqueAddresses.has(obj.address)) {
                        uniqueAddresses.add(obj.address); // Добавляем адрес в множество уникальных адресов
                        var placemark = new ymaps.Placemark(
                            [obj.latitude, obj.longitude],
                            {
                                balloonContent: '<strong>' + obj.customer + '</strong><br>' +
                                            'Адрес: ' + obj.address + '<br>' +
                                            'Модель: ' + obj.model + '<br>' +
                                            'Телефон: ' + obj.phone,
                                // Важно добавить заголовок для кластера
                                clusterCaption: obj.customer
                            },
                            {
                                // Кастомная иконка
                                iconLayout: 'default#image',
                                iconImageHref: customIconSvg,
                                iconImageSize: [30, 30],      // Размер иконки
                                iconImageOffset: [-15, -35],  // Смещение (как в вашем примере)
                                // Дополнительные настройки
                                iconImageClipRect: [[0, 0], [35, 35]],
                                balloonCloseButton: false
                            }
                        );
                    placemarks.push(placemark);
                }
            });

            if (placemarks.length > 0) {
                clusterer.add(placemarks);
                map.geoObjects.add(clusterer);
                map.setBounds(clusterer.getBounds());        
            }

            // Обработчик события клика на карте
            map.events.add('click', function() {
                // Закрываем все открытые баллоны
                map.balloon.close();
                clusterer.balloon.close(); // Закрываем баллон кластера, если он открыт
            });
        });
    </script>
    <style>
        .ymaps-2-1-79-copyright__content,
        .ymaps-2-1-79-map-copyrights-promo {
            display: none;
        }
    </style>
</body>
</html>