<!DOCTYPE html>
{% load static %}
<html style="overflow: hidden;">
<head>

    <meta charset="utf-8">
    <title>LIFTEH - Карта объектов</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="/logo_lifteh.png">
    <link rel="apple-touch-icon" sizes="192x192" href="/logo_lifteh.png">
    <link rel="apple-touch-icon" sizes="512x512" href="/logo_lifteh.png">
    <link href="{% static 'main.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body data-has-access-entries="{{ has_access_entries|yesno:'true,false' }}"
      data-user-is-superuser="{{ user.is_superuser|yesno:'true,false' }}"
      class="_theme_dark">

    <!-- Шапка с кнопкой перехода к таблице -->
    <div class="new map-header glass-button" style="
    width: 70px;
    height: 70px;">
        <a href="{% url 'to' %}" class="logo-link" style="height: 68px; color: white;">
            <h1 style="font-size: 50px;">LT</h1>
        </a>
    </div>

    {% if user.is_authenticated %}
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-link glass-button" style="
        padding: 15px 20px 15px 15px;
        top: 5px;
        right: 5px;
        z-index: 10;">
            <img src="{% static 'ico/box-arrow-in-right.svg' %}" alt="Выйти"
                style="height: 30px; width: 30px; opacity: 0.8; filter: invert(100%) brightness(2);"
                onmouseover="this.style.opacity=1"
                onmouseout="this.style.opacity=0.8">
        </button>
    </form>
    {% endif %}

    <!-- Два переключателя фильтра -->
    <div class="filter-switches">
        <div class="filter-switch">
            <label class="switch-label">
                <input type="checkbox" id="objectsSwitch" class="switch-input">
                <span class="switch-slider"></span>
                <span class="switch-text">ОБЪЕКТЫ</span>
            </label>
        </div>
        <div class="filter-switch">
            <label class="switch-label">
                <input type="checkbox" id="transportSwitch" class="switch-input">
                <span class="switch-slider"></span>
                <span class="switch-text">ТРАНСПОРТ</span>
            </label>
        </div>
    </div>

    <div id="map" data-theme="dark">
    </div>

    <!-- MODAL WINDOWS -->
    {% include 'modal.html' %}

    <!-- FIXED FOOTER -->
    {% include 'footer.html' %}

    <script src="https://api-maps.yandex.ru/2.1/?apikey={{ YANDEX_MAPS_API_KEY }}&lang=ru_RU"></script>
    <script src="{% static 'js/map.js' %}"></script>
    <script src="{% static 'js/map_text.js' %}"></script>
    <script src="{% static 'js/map_modal.js' %}"></script>
    {% comment %} <script src="{% static 'js/map_test.js' %}"></script> {% endcomment %}
    <script src="{% static 'js/to.js' %}"></script>

</body>
</html>