{% load static %}

<div class="card mb-4">
  <div class="card-header d-flex">
    <h4>Объекты ТО</h4>

    {% comment %} <div class="col d-flex justify-content-end align-items-center">
      <a href="{% url 'object_add' %}">
        <button type="button" class="btn btn-primary" style='justify-content:center;'>Добавить объект</button>
      </a>
    </div> {% endcomment %}
    
    <div class="col d-flex justify-content-end align-items-center">
      <button type="button" class="btn btn-primary" 
              onclick="loadModalForm('{% url 'object_add' %}', 'Добавить объект')">
        Добавить объект
      </button>
    </div>
  </div>

  {% load custom_filters %}
  {% include 'sort_object.html' %}

  <div class="card-body" style="padding: 0px;">
    <table class="table-hover" style="width: 100%;">
      <tr style="background-color: #de4c15;">
          {% comment %} <th>ID</th> {% endcomment %}
          <th style="text-align: center;">Заказчик</th>
          <th style="text-align: center;">Адрес</th>
          <th style="text-align: center;">Телефон</th>
          <th style="text-align: center;">Действия</th>
      </tr>
      {% for object in objects %}
      {% with service_record=service_records|get_item:object.id %}


      <tr style="background-color: 
      {% if service_record %}
        {% if service_record.result == 0 %} #00800063
        {% elif service_record.result == 1 %} #ffff0063
        {% elif service_record.result == 2 %} #ff000063
        {% else %} transparent
        {% endif %}
      {% else %} #80808063
      {% endif %};">
      
          {% comment %} <td>{{ object.id }}</td> {% endcomment %}
          <td style="text-align: center;">{{ object.customer }}</td>
          <td style="text-align: center;" style="text-align: center;">
            <img src="{% static 'ico/geo-alt.svg' %}" alt="phone" style="width: 16px; height: 16px; vertical-align: middle;">
            {{ object.address }}</td>
          <td style="text-align: center;">
            <img src="{% static 'ico/telephone.svg' %}" alt="phone" style="width: 16px; height: 16px; vertical-align: middle;">
            {{ object.phone }}<br>
            {{ object.name }}</td>

          {% comment %} <td style="text-align: center;">
            <div class="btn-group" style="gap: 2px;">
              <a href="{% url 'object_edit' pk=object.id %}" class="btn btn-secondary">✏</a>
              <a href="{% url 'avr_add' pk=object.id %}" class="btn btn-success">АВР</a>
              <a href="{% url 'service_add' object_id=object.id %}" class="btn btn-primary">ТО</a>
              <a href="#" class="btn btn-danger"
                onclick="if(confirm('Удалить объект?'))
                { document.getElementById('delete-form-{{ object.id }}').submit(); }">
                <strong>Х</strong>
              </a>
            </div>
          </td> {% endcomment %}

          <td style="text-align: center;">
            <div class="btn-group" style="gap: 2px;">
              <button onclick="loadModalForm('{% url 'object_edit' pk=object.id %}', 'Редактировать объект')" 
                      class="btn btn-secondary">✏</button>
              <a href="{% url 'avr_add' pk=object.id %}" class="btn btn-success">АВР</a>
              {% comment %} <a href="{% url 'service_add' object_id=object.id %}" class="btn btn-primary">ТО</a> {% endcomment %}
              <button class="btn btn-primary" 
                onclick="loadModalForm('{% url 'service_add' object_id=object.id %}', 'Добавление обслуживания')">
                  ТО
              </button>
              <button onclick="confirmDelete('{% url 'object_delete' pk=object.id %}', '{{ object.id }}')" 
                      class="btn btn-danger">
                <strong>Х</strong>
              </button>
            </div>
          </td>
      </tr>
      {% endwith %}
      {% endfor %}
  </table>
</div>
</div>