{% comment %} <div style="display: none;"> {% endcomment %}
    {% comment %} <h1>Добавить объект</h1>
    <hr>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <hr>
        <button type="submit" class="btn btn-success">Сохранить</button>
        <a href="{% url 'to' %}#service">
            <button type="button" class="btn btn-primary">Назад</button>
        </a>
    </form> {% endcomment %}
{% comment %} </div>  {% endcomment %}

<form method="post" action="{% url 'object_add' %}">
    {% csrf_token %}
    <div class="mb-3">
      {{ form.as_p }}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
      <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>
  </form>