<h1>Добавить Объект и АВР</h1>
<hr>

    <form method="post" action="{% url 'object_avr_add' %}">
        {% csrf_token %}
        {{ form.as_p }}
    <hr>
    <h3>Работы:</h3>
    <div id="work-rows">
        <div class="work-row" style="display: flex; gap: 10px; align-items: flex-start; margin-bottom: 10px;">
            <div class="input-group" style="width: 380px;">
                <label class="input-group-text" for="workname">Наименование работ:</label>
                <input class="form-control" type="text" name="workname" maxlength="100" required>
            </div>

            <div class="input-group" style="width: 180px;">
                <label class="input-group-text" for="unit">Ед. изм.:</label>
                <select class="form-select" name="unit" required>
                    <option value="шт.">шт.</option>
                    <option value="комп.">комп.</option>
                    <option value="л.">л.</option>
                    <option value="кг.">кг.</option>
                    <option value="м.">м.</option>
                </select>
            </div>

            <div class="input-group" style="width: 180px;">
                <label class="input-group-text" for="quantity">Количество:</label>
                <input class="form-control" type="number" name="quantity" min="1" value="1" style="width: 50px;" required>
            </div>
        </div>
    </div>

    <div>
        <button type="button" class="btn btn-warning" id="addWorkButton">+ Добавить работу</button>
    </div>

    <hr>
      <button type="submit" class="btn btn-success">Сохранить</button>
      <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Отмена</button>
</form>
