<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LIFTEH - Таблица объектов</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
  <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
  <link rel="apple-touch-icon" href="/logo_lifteh.png">
  <link rel="apple-touch-icon" sizes="192x192" href="/logo_lifteh.png">
  <link rel="apple-touch-icon" sizes="512x512" href="/logo_lifteh.png">
  <link href="{% static 'main.css' %}" rel="stylesheet">

<style>
  body.modal-open {
  padding-right: 0 !important;
}
</style>

</head>
<body>

<!-- FIXED HEADER -->
<div class="header-fixed" style="
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #de4c15;">
  <div class="d-flex" style="background-color: #de4c15; padding-left: 70px; justify-content: space-between;">
    <div class="new map-header glass-button" style="width: 70px; height: 70px;">
      <a href="{% url 'map' %}" class="logo-link" style="height: 68px; color: white;">
        <h1 style="font-size: 50px;">LT</h1>
      </a>
    </div>

    {% if user.is_authenticated %}
    <div class="new" style="margin: 5px 5px 0px 20px;">
      <span class="fw"><strong style="font-size: 20px;">{{ user.first_name }} {{ user.last_name }}</strong></span>
    </div>
    {% endif %}

    {% if user.is_authenticated %}
    <form action="{% url 'logout' %}" method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-link glass-button" style="padding: 15px 20px 15px 15px; top: 5px; right: 5px; z-index: 10;">
        <img src="{% static 'ico/box-arrow-in-right.svg' %}" alt="Выйти"
             style="height: 30px; width: 30px; opacity: 0.8; filter: invert(100%) brightness(2);"
             onmouseover="this.style.opacity=1"
             onmouseout="this.style.opacity=0.8">
      </button>
    </form>
    {% endif %}
  </div>
</div>

<!-- FIXED TABS -->
<div class="tabs-fixed" style="
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  z-index: 999;
  background: white;">
  {% include 'to_tabs.html' %}
</div>

<!-- SCROLLABLE CONTENT AREA -->
<div class="content-scrollable" style="
  flex: 1;
  margin-top: 80px;
  margin-bottom: 40px;
  overflow-y: auto;
  height: calc(100vh - 170px);
  z-index: 1000;">
  <div id="service" class="tab active">
    {% include 'object_table.html' %}
  </div>

  <div id="acts" class="tab">
    {% include 'avr_table.html' %}
  </div>

  <div id="diagnostic" class="tab">
    {% include 'diagnostic.html' %}
  </div>

  <div id="problems" class="tab">
    {% include 'problems.html' %}
  </div>

  <div id="tasks" class="tab">
    {% include 'tasks.html' %}
  </div>

  <div id="charts" class="tab">
    {% include 'charts.html' %}
  </div>

    <div id="data_sort" class="tab">
    {% include 'data_sort.html' %}
   </div>
</div>
  <!-- MODAL WINDOWS -->
  {% include 'modal.html' %}

  <!-- FIXED FOOTER -->
  {% include 'footer.html' %}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{% static 'js/to_tab.js' %}"></script>
  <script src="{% static 'js/to.js' %}"></script>
  <script src="{% static 'js/object.js' %}"></script>

</body>
</html>